beautifulsoup4>=4.7.1
bs4>=0.0.1
cached-property>=1.5.1
certifi>=2019.6.16
chardet>=3.0.4
commonmark>=0.9.0
dictdiffer>=0.8.0
future>=0.17.1
idna>=2.8
notion>=0.0.23
notion-py>=0.0.7
python-slugify>=3.0.2
pytz>=2019.1
requests>=2.22.0
soupsieve>=1.9.2
text-unidecode>=1.2
tzlocal>=1.5.1
urllib3>=1.25.3
